$robot: 'Roboto', sans-serif;


/*=====================================
    BASE
=======================================*/

body{
  font:{
    family: $robot;
    size: 62.5%;
  };
}

header, footer, .full, .box-slider{
  width: 100%; /* Full */
  position: relative;
  overflow: hidden;
}

.center{
  width: 1180px; /* +20padding / 100% */
  position: relative;
  padding:{
    left: 0.83333333333333%; /* 10px / 1200px */
    right: 0.83333333333333%; /* 10px / 1200px */
  };
  margin: 0 auto;
  overflow: hidden;
}

h1#logo{
  display: block;
  float: left;
  background: url(../img/logo.png) center center no-repeat;
  width: 16.69491525423729%; /* 197px / 1180px */
  height: 104px;
  margin-top: 1.69491525423729%; /* 20px / 1180px */
  a{
    display: block;
    width: 100%; /* 197px */
    height: 104px;
    text-indent: -9999px;
  }
}

p{
  display: block;
  width: 100%; /* 585px */
  overflow: hidden;
  position: relative;
  margin-bottom: 5.12820512820513%; /* 30px / 585px */
  font:{
    size: 1.5em; /* 15px */
    weight: 400;
  };
  color: #666666;
  line-height: 28px;
  strong{
    font-weight: 700;
  }
  span{
    color: #00b9f6;
    font-weight: 700;
  }
}

h1{
  display: block;
  text-align: center;
  font:{
    size: 4.0em; /* 40px */
    weight: 500;
  };
  color: #00b9f6;
  margin-bottom: 1.01694915254237%; /* 12px / 1180px */
  strong{
    color: #008ad1;
  }
}

h1.out{
  text-align: center;
  font:{
    size: 6.2em; /* 62px */
    weight: 500;
  };
  color: #fff;
  margin-top: 4.23728813559322%; /* 50px / 1180px */
}

.uper{
  text-transform: uppercase;
}

h3{
  display: block;
  text-align: center;
  font:{
    size: 1.5em; /* 15px */
    weight: 500;
  };
  color: #747474 ;
  margin-bottom: 0.93220338983051%; /* 11px / 1180px */
}

h4{
  display: block;
  text-align: center;
  font:{
    size: 1.5em; /* 15px */
    weight: 400;
  };
  color: #999999 ;
  margin-top: 0.42372881355932%; /* 5px / 1180px */
  strong{
    color: #666666;
    text-transform: uppercase;
    font-weight: 500;
  }
}

ul.blog{
  width: 100%; /* 1180px */
  position: relative;
  overflow: hidden;
  margin:{
    top: 1.69491525423729%; /* 20px / 1180px */
    bottom: 1.69491525423729%; /* 20px / 1180px */
  };
  li{
    display: block;
    width: 23.72881355932203%; /* 280px / 1180px */
    overflow: hidden;
    position: relative;
    float: left;
    margin-left: 1.69491525423729%; /* 20px / 1180px */
    a{
      display: block;
      width: 100%; /* 280px*/
      overflow: hidden;
      .thumb{
        width: 100%; /* 280px */
        height: 160px;
        margin-bottom: 7.14285714285714%; /* 20px / 280px */
      }
      .title-post{
        width: 100%; /* 280px */
        overflow: hidden;
        h1{
          text-align: left;
          line-height: 30px;
          font:{
            size: 2.5em; /* 25px */
            weight: 500;
          };
          color: #333333;
        }
      }
      .descritivo{
        width: 100%; /* 280px */
        overflow: hidden;
        p{
          text-align: left;
          line-height: 22px;
          font:{
            size: 1.5em; /* 15px */
            weight: 400;
          };
          color: #666666;
          strong{
            color: #00b9f6;
          }
        }
      }
      span.tag{
        display: block;
        float: left;
        padding: 1.78571428571429%; /* 5px / 280px */
        background: #00b700;
        color: #fff;
        text-transform: uppercase;
        margin-top: 7.14285714285714%; /* 20px / 280px */
        font:{
          size: 1.0em; /* 0px */
          weight: 500;
        };
      }
      span.date{
        display: block;
        float: left;
        padding: 1.78571428571429%; /* 5px / 280px */
        color: #999999;
        text-transform: uppercase;
        margin-top: 7.14285714285714%; /* 20px / 280px */
        font:{
          size: 1.0em; /* 0px */
          weight: 500;
        };
      }
    }
  }
  li:first-child{
    margin-left: 0;
  }
}
/*=====================================
  FIM BASE
=======================================*/


/*=====================================
    HEADER
=======================================*/

header{
  background: #00b9f6;
}

span.acv{
  display: block;
  float: left;
  margin-top: 1.69491525423729%; /* 20px / 1180px */
  color: #fff;
  font:{
    size: 1.5em; /* 15px */
    weight: 400;
  };
}

span.tell{
  display: block;
  background: url(../img/icon/tell.png) center center no-repeat;
  width: 2.54237288135593%; /* 30px / 1180px */
  height: 30px;
  float: left;
  margin:{
    top: 0.84745762711864%; /* 10px / 1180px */
    left: 0.84745762711864%; /* 10px / 1180px */
    bottom: 0.84745762711864%; /* 10px / 1180px */
  };
  text-indent: -9999px;
}

span.email{
  display: block;
  background: url(../img/icon/email.png) left center no-repeat;
  width: 23.72881355932203%; /* 280px / 1180px */
  height: 30px;
  float: left;
    margin:{
    top: 0.84745762711864%; /* 10px / 1180px */
  };
  a{
    display: block;
    width: 100%; /* 280px */
    height: 30px;
    text-align: right;
    line-height: 30px;
    color: #fff;
    font:{
      size: 1.5em; /* 15px */
      weight: 400;
    };
  }
}

ul.number{
  width: 33.89830508474576%; /* 400px / 1180px */
  height: 20px;
  float: left;
  margin:{
    left: 0.84745762711864%; /* 10px / 1180px */
    top: 1.27118644067797%; /* 15px / 1180px */
  };
  li{
    display: block;
    float: left;
    width: 22.5%; /* 90px / 400px */
    height: 20px;
    background: url(../img/icon/detalhe-number.png) center right no-repeat;
    margin-left: 1.25%; /* 5px / 400px */
    a{
      display: block;
      width: 100%; /* 90px */
      height: 20px;
      color: #fff;
      line-height: 20px;
      font:{
        size: 1.5em; /* 15px */
        weight: 400;
      };
    }
  }
  li:first-child{
    width: 28.25%; /* 113px / 400px */
    margin-left: 0;
  }
  li:last-child{
    background: none;
  }
}

span.follow{
  display: block;
  width: 5.50847457627119%; /* 65px / 1180px */
  height: 20px;
  float: right;
  font:{
    size: 1.5em; /* 15px */
    weight: 500;
  };
  color: #fff;
  margin:{
    top: 1.61016949152542%; /* 19px / 1180px */
    right: 0.84745762711864%; /* 10px / 1180px */
  };
}

ul.ms{
  width: 5.93220338983051%; /* 70px / 1180px */
  height: 30px;
  float: right;
  background: url(../img/icon/ms.png) center center no-repeat;
  margin:{
    top: 0.84745762711864%; /* 10px / 1180px */
  };
  li{
    display: block;
    float: left;
    width: 42.85714285714286%; /* 30px / 70px */
    height: 30px;
    margin-right: 14.28571428571429%; /* 10px / 70px */
    a{
      display: block;
      width: 100%; /* 30px */
      height: 30px;
      text-indent: -9999px;
    }
  }
  li:last-child{
    margin-right: 0;
  }
}
/*=====================================
  FIM HEADER
=======================================*/



/*=====================================
    CONTENT
=======================================*/

a.consulta{
  width: 16.10169491525424%; /* 190px / 1180px */
  height: 40px;
  float: right;
  display: block;
  text-align: center;
  line-height: 40px;
  margin:{
    top: 5.93220338983051%; /* 70px / 1180px */
    right: 0.84745762711864%; /* 10px / 1180px */
  };
  background: #00b700;
  font:{
    size: 1.5em; /* 15px */
    weight: 500;
  };
  color: #fff;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border-radius: 75px;
}

a.ligamos{
  width: 14.40677966101695%; /* 170px / 1180px */
  height: 40px;
  float: right;
  display: block;
  text-align: center;
  line-height: 40px;
  margin:{
    top: 5.93220338983051%; /* 70px / 1180px */
  };
  background: #008ad1;
  font:{
    size: 1.5em; /* 15px */
    weight: 500;
  };
  color: #fff;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border-radius: 75px;
}

ul.menu{
  width: 38.98305084745763%; /* 460px / 1180px */
  height: 20px;
  float: right;
  margin:{
    top: 6.77966101694915%; /* 80px / 1180px */
    right: 2.54237288135593%; /* 30px / 1180px */
  };
  li{
    display: block;
    height: 20px;
    float: left;
    margin-left: 4.34782608695652%; /* 20px / 460px */
    a{
      display: block;
      width: 100%; /* 102px */
      height: 20px;
      text-align: center;
      line-height: 20px;
      font:{
        size: 1.5em; /* 15px */
        weight: 500;
      };
      color: #666666;
      transition: all 1s ease;
    }
  }
  a:hover{
    color: #008ad1;
  }
  li:first-child{
    margin-left: 0;
  }
}

ul.bxslider{
  width: 100%; /* FULL */
  height: 500px;
  position: relative;
  overflow: hidden;
  margin-top: 2.11864406779661%; /* 25px /1180px */
  li{
    display: block;
    width: 100%; /* FULL */
    height: 500px;
    position: relative;
    overflow: hidden;
  }
}

span.detalhe-slider{
  display: block;
  background: url(../img/span-detalhe-slider.jpg) center center no-repeat;
  width: 100%; /* 1180px */
  height: 30px;
  position: relative;
  text-indent: -9999px;
  margin-bottom: 1.69491525423729%; /* 20px / 1180px */
}

.sobrepor-top{
  margin-top: -10px;
}

ul.servico{
  width: 100%; /* 1180px */
  position: relative;
  overflow: hidden;
  li{
    display: block;
    width: 32.20338983050847%; /* 380px / 1180px */
    height: 220px;
    float: left;
    position: relative;
    margin:{
      left: 1.69491525423729%; /* 20px 1180px */
      bottom: 1.69491525423729%; /* 20px 1180px */
    };
    a{
      display: block;
      width: 100%; /* 380px */
      height: 220px;
    }
  }
  li:first-child{
    margin-left: 0;
  }
  li:nth-child(4){
    margin-left: 0;
  }
}

.effect{
  width: 100%; /* 380px */
  height: 220px;
  background: #000;
  opacity: 0.35;
  position: relative;
}

span.title-servico{
  display: block;
  width: 84.21052631578947%; /* 320px / 380px */
  height: 40px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: url(../img/bg-title-servico.jpg) top left no-repeat;
  line-height: 50px;
  text-align: left;
  font:{
    size: 2.6em; /* 26px */
    weight: 500;
  };
  color: #fff
}

span.detalhe-blog{
  display: block;
  background: url(../img/span-detalhe-blog.jpg) center center no-repeat;
  width: 100%; /* 1180px */
  height: 30px;
  position: relative;
  text-indent: -9999px;
  margin-bottom: 1.69491525423729%; /* 20px / 1180px */
}

span.line-center{
  display: block;
  margin: 0 auto;
  width: 1px; /* 1px / 1180px */
  height: 40px;
  background: #cacaca;
  text-indent: -9999px;
  margin-bottom: 1.69491525423729%; /* 20px / 1180px */
}

ul.depoimentos{
  width: 100%; /* 1180px */
  background: url(../img/bg-aspas.png) center center no-repeat;
  position: relative;
  overflow: hidden;
  margin-top: 1.01694915254237%; /* 12px / 1180px */
  li{
    display: block;
    width: 83.89830508474576%; /* 990px / 1180px */
    height: 120px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    p.depoimento{
      display: block;
      margin-bottom: 0;
      width: 100%; /* 990px */
      line-height: 22px;
      text:{
        align: center;
        transform: uppercase;
      };
      font:{
        size: 1.5em; /* 15px */
        weight: 500;
      };
      color: #666666;
    }
    span.name-depoimento{
      display: block;
      width: 38.38383838383838%; /* 380px / 990px */
      margin: 0 auto;
      text-align: center;
      margin-top: 2.71186440677966%; /* 32px / 990px */
      position: relative;
      font:{
        size: 1.5em; /* 15px */
        weight: 400;
      };
      color: #999999;
    }
  }
}

.center-buttons{
  width: 32.20338983050847%; /* 375px / 1180px */
  height: 40px;
  position: relative;
  margin: 0 auto;
  margin:{
    top: 1.01694915254237%; /* 12px / 1180px */
    bottom: 1.69491525423729%; /* 20px / 1180px */
    };
  .ligamos{
    width: 45.33333333333333%; /* 170px / 375px */
    margin-top: 0;
  }
  .consulta{
    width: 50.66666666666667%; /* 190px / 380px */
    margin-right: 2.66666666666667%; /* 10px / 375px */
    margin-top: 0;
  }
}

.planos{
  width: 100%; /* 1180px */
  background: url(../img/planos.png) top center no-repeat;
  height: 60px;
  position: relative;
  margin-top: 2.11864406779661%; /* 25px / 1180px */
  margin-bottom: 2.54237288135593%; /* 30px / 1180px */
  border-bottom: dotted 1px #cccccc;
  text-indent: -9999px;
}

a.facebook{
  background: url(../img/facebook.png) center center no-repeat;
  display: block;
  width: 47.03389830508475%; /* 580px - 25px / 1180px */
  height: 50px;
  line-height: 55px;
  float: left;
  padding-left: 2.11864406779661%; /* 25px / 1180px */
  margin-right: 1.69491525423729%; /* 20px / 1180px */
  text:{
    transform: uppercase;
    align: center;
  };
  font:{
      size: 1.5em; /* 15px */
      weight: 400;
    };
  color: #fff;
  strong{
    font-weight: 700;
  }
}

a.instagram{
  background: url(../img/instagram.png) center center no-repeat;
  display: block;
  width: 45.76271186440678%; /* 580px - 40px / 1180px */
  height: 50px;
  line-height: 55px;
  float: left;
  padding-left: 3.38983050847458%; /* 40px / 1180px */
  margin-bottom: 1.69491525423729%; /* 20px / 1180px */
  float: left;
  text:{
    transform: uppercase;
    align: center;
  };
  font:{
      size: 1.5em; /* 15px */
      weight: 400;
    };
  color: #fff;
  strong{
    font-weight: 700;
  }
}

.outdoor{
  width: 100%; /* Full */
  height: 170px;
  background: url(../img/bg-outdoor.jpg) center center no-repeat;
  position: relative;
  overflow: hidden;
}

form{
  width: 100%; /* 1180px  */
  position: relative;
  margin:{
    top: 3.38983050847458%; /* 40px / 1180px */
    bottom: 5.93220338983051%; /* 70px / 1180px */
  };
  .infos-left{
    width: 49.15254237288136%; /* 580px / 1180px */
    float: left;
    position: relative;
  }
  .infos-right{
    width: 49.15254237288136%; /* 580px / 1180px */
    float: right;
    position: relative;
  }
  input[type=text]{
    width: 96.55172413793103%; /* 580px : 560px / 580px ; */
    height: 45px;
    float: left;
    clear: both;
    margin-bottom: 3.44827586206897%; /* 20px / 580px */
    border:{
      top: 2px solid #d5d6db;
      left: 1px solid #d5d6db;
      right: 1px solid #d5d6db;
      bottom: 1px solid #d5d6db;
    };
    padding:{
      left: 1.55172413793103%; /* 9px / 580px */
      right: 1.55172413793103%; /* 9px / 580px */
    };
    font:{
      size: 1.5em; /* 15px */
      weight: 700;
    };
    color: #626466;
  }
  input[type=text].med{
    width: 44.82758620689655%; /* 280px : 260px / 580px  */
    height: 45px;
    float: left;
    clear: none;
    border:{
      top: 2px solid #d5d6db;
      left: 1px solid #d5d6db;
      right: 1px solid #d5d6db;
      bottom: 1px solid #d5d6db;
    };
    padding:{
      left: 1.55172413793103%; /* 9px / 580px */
      right: 1.55172413793103%; /* 9px / 580px */
    };
    font:{
      size: 1.5em; /* 15px */
      weight: 700;
    };
    color: #626466;
  }
  select{
    width: 48.27586206896552%; /* 280px : 260px / 580px  */
    height: 50px;
    float: left;
    clear: none;
    border:{
      top: 2px solid #d5d6db;
      left: 1px solid #d5d6db;
      right: 1px solid #d5d6db;
      bottom: 1px solid #d5d6db;
    };
    padding:{
      left: 1.55172413793103%; /* 9px / 580px */
      right: 1.55172413793103%; /* 9px / 580px */
    };
    font:{
      size: 1.5em; /* 15px */
      weight: 700;
    };
    color: #626466;
  }
  textarea{
    width: 98.30508474576271%; /* 1160px / 1180px */
    height: 90px;
	font-size: 1.5em;
    font-weight: 700;
	font-family: $robot;
    float: left;
    font:{
      size: 1.5em; /* 15px */
      weight: 700;
    };
    color: #626466;
    border:{
      top: 2px solid #d5d6db;
      left: 1px solid #d5d6db;
      right: 1px solid #d5d6db;
      bottom: 1px solid #d5d6db;
    };
    padding: 0.76271186440678%; /* 9px / 1180px */
	margin-bottom: 20px;
  }
  input[type=submit]{
    background: #008ad1;
    border: none;
    width: 49.15254237288136%; /* 580px / 1180px */
    height: 40px;
    text-align: center;
    text-transform: uppercase;
    font:{
      size: 1.5em; /* 15px */
      weight: 500;
    };
    color: #fff;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    border-radius: 75px;
    cursor: pointer;
  }
  ::-webkit-input-placeholder {color: #626466;}
  :-moz-placeholder {color: #626466;}
  ::-moz-placeholder {color: #626466;}
  :-ms-input-placeholder {color: #626466;}
}

span.detalhe-faleconosco{
  display: block;
  width: 0.16949152542373%; /* 2px / 1180px */
  height: 110px;
  background: #00b700;
  margin: 0 auto;
  margin-bottom: 1.69491525423729%; /* 20px / 1180px */
  text-indent: -9999px;
}

.sobrepor-contato{
  margin-top: -90px;
}


.bar-left{
  width: 74.57627118644068%; /* 880px / 1180px */
  overflow: hidden;
  position: relative;
  float: left;
  h1.title-news{
  text-align: left;
  font:{
      size: 4.0em; /* 40px */
      weight: 500;
    };
    color: #333333;
  }
}

.bar-right{
  width: 23.72881355932203%; /* 280px / 1180px */
  overflow: hidden;
  position: relative;
  float: right;
  form.busca{
    width: 100%; /* 280px */
    height: 55px;
    position: relative;
    margin-top: 0;
    margin-bottom: 10.71428571428571%; /* 30px / 280px */
    input[type=text]{
      background: url(../img/busca-blog.png) center right no-repeat;
      width: 77.85714285714286%; /* 218px / 280px */
      background-position: 240px;
      height: 50px;
      padding-left: 7.14285714285714%; /* 20px / 280px */
      padding-right: 14.28571428571429%; /* 40px / 280px */
      margin-bottom: 0;
      border:{
        top: 2px solid #d5d6db;
        left: 1px solid #d5d6db;
        right: 1px solid #d5d6db;
        bottom: 1px solid #d5d6db;
      };
      font:{
        size: 1.5em; /* 15px */
        weight: 700;
      };
      color: #626466;
    }
  }
  h2.tags{
    font:{
      size: 2.6em; /* 26px */
      weight: 500;
    };
    color: #666666;
    margin-top: 8.92857142857143%; /* 25px / 280px */
    margin-bottom: 7.14285714285714%; /* 20px / 280px */
  }
}

ul.allpost{
  width: 100%; /* 880px */
  position: relative;
  overflow: hidden;
  margin:{
    top: 1.69491525423729%; /* 20px / 1180px */
    bottom: 1.69491525423729%; /* 20px / 1180px */
  };
  li{
    display: block;
    width: 31.81818181818182%; /* 280px / 880px */
    overflow: hidden;
    position: relative;
    float: left;
    margin-left: 2.27272727272727%; /* 20px / 880px */
    margin-bottom: 2.27272727272727%; /* 20px / 880px */
    a{
      display: block;
      width: 100%; /* 280px*/
      overflow: hidden;
      .thumb{
        width: 100%; /* 280px */
        height: 160px;
        margin-bottom: 7.14285714285714%; /* 20px / 280px */
      }
      .title-post{
        width: 100%; /* 280px */
        overflow: hidden;
        h1{
          text-align: left;
          line-height: 30px;
          font:{
            size: 2.5em; /* 25px */
            weight: 500;
          };
          color: #333333;
        }
      }
      .descritivo{
        width: 100%; /* 280px */
        overflow: hidden;
        margin-bottom: 2.27272727272727%; /* 20px / 880px */
        p{
          text-align: left;
          margin-bottom: 0;
          line-height: 22px;
          font:{
            size: 1.5em; /* 15px */
            weight: 400;
          };
          color: #666666;
          strong{
            color: #00b9f6;
          }
        }
      }
      span.tag{
        display: block;
        float: left;
        padding: 1.78571428571429%; /* 5px / 280px */
        background: #00b700;
        color: #fff;
        text-transform: uppercase;
        margin-top: 7.14285714285714%; /* 20px / 280px */
        font:{
          size: 1.0em; /* 0px */
          weight: 500;
        };
      }
      span.date{
        display: block;
        float: left;
        padding: 1.78571428571429%; /* 5px / 280px */
        color: #999999;
        text-transform: uppercase;
        margin-top: 7.14285714285714%; /* 20px / 280px */
        font:{
          size: 1.0em; /* 0px */
          weight: 500;
        };
      }
    }
  }
  li:first-child{margin-left: 0;}
  li:nth-child(4){margin-left: 0;}
  li:nth-child(7){margin-left: 0;}
}

a.morepost{
  display: block;
  width: 99.77272727272727%; /* 878px / 880px  */
  height: 50px;
  border: #999999 solid 1px;
  color: #999999;
  line-height: 50px;
  text-align: center;
  margin-bottom: 3.40909090909091%; /* 30px / 880px */
  text-transform: uppercase;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border-radius: 75px;
    font:{
      size: 1.5em; /* 15px */
      weight: 700;
    };
  strong{
    color: #008ad1;
  }
}

.loadcategoria{
  width: 100%; /* 280px */
  overflow: hidden;
  position: relative;
  margin-bottom: 10.71428571428571%; /* 30px / 280px */
}

a.categoria{
  display: block;
  background: #00b700;
  float: left;
  height: 20px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-left: 1.78571428571429%; /* 5px / 280px */
  margin-bottom: 1.78571428571429%; /* 5px / 280px */
  font:{
    size: 1.0em; /* 10px */
    weight: 500;
  };
  padding:{
    left: 2.14285714285714%; /* 6px / 220px */
    right: 2.14285714285714%; /* 6px / 220px */
  };
}

.post{
  width: 100%; /* 880px */
  overflow: hidden;
  margin-top: 2.27272727272727%; /* 20px / 880px */
  margin-bottom: 3.40909090909091%; /* 30px / 880px */
  padding-top: 4.54545454545455%; /* 40px / 880px */
  border:{
    top: 1px dotted #cccccc;
    bottom: 1px dotted #cccccc;
  };
  .pic{
    width: 31.81818181818182%; /* 280px / 880px */
    height: 180px;
    float: left;
    text-indent: -9999px;
    margin-right: 2.27272727272727%; /* 20px / 880px */
  }
  p.right{
    line-height: 26px;
    display: block;
    width: 65.34090909090909%; /* 575px / 880px */
    height: 180px;
    float: left;
    color: #666666;
    font:{
      size: 1.5em; /* 15px */
      weight: 400;
    };
  }
  p{
    line-height: 28px;
    display: block;
    float: left;
    color: #666666;
    margin-bottom: 4.54545454545455%; /* 40px / 880px */
    font:{
      size: 1.5em; /* 15px */
      weight: 400;
    };
  }
}

.share{
  width: 100%; /* 880px */
  margin-bottom: 3.40909090909091%; /* 30px / 880px */
  overflow: hidden;
  position: relative;
}

.text-left{
  width: 49.57627118644068%; /* 585px / 1180px */
  height: 230px;
  float: left;
  position: relative;
}

.text-right{
  width: 49.57627118644068%; /* 585px / 1180px */
  height: 230px;
  float: right;
  position: relative;
}

ul.slider{
  width: 100%; /* 1180px */
  height: 500px;
  position: relative;
  overflow: hidden;
  float: left;
  clear: both;
  margin-top: 6.83760683760684%; /* 40px / 585px */
  li{
    display: block;
    width: 100%; /* 1180px */
    height: 500px;
    position: relative;
    overflow: hidden;
  }
}

#modal-call{
  width: 28.8135593220339%; /* 340px / 1180px */
  overflow: hidden;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  h1.modal{
    position: relative;
    text-transform: uppercase;
    background: #008ad1;
    display: block;
    width: 94.11764705882353%; /* 340px - 20px / 320px / 340px */
    height: 70px;
    line-height: 70px;
    padding-left: 5.88235294117647%; /* 20px / 340px */
    font:{
      size: 2.6em; /* 26px */
      weight: 500;
    };
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-bottom-right-radius: 0;
    -moz-border-bottom-left-radius: 0;
    -o-border-bottom-right-radius: 0;
    -o-border-bottom-left-radius: 0;
    -ms-border-bottom-right-radius: 0;
    -ms-border-bottom-left-radius: 0;
    span.close{
      background: url(../img/close.png) center center no-repeat;
      display: block;
      width: 7.64705882352941%; /* 26px / 340px */
      height: 26px;
      position: absolute;
      right: 20px;
      top: 20px;
      a{
        display: block;
        width: 100%; /* 26px */
        height: 26px;
        text-indent: -9999px;
      }
    }
  }
  p.text-call{
    display: block;
    width: 88.23529411764706%; /* 300px / 340px */
    margin: 0 auto;
    line-height: 22px;
    margin-top: 5.88235294117647%; /* 20px / 340px */
    margin-bottom: 7.35294117647059%; /* 25px / 340px */
    color: #666666;
    font:{
      size: 1.5em; /* 15px */
      weight: 400;
    };
  }
  form{
    width: 88.23529411764706%; /* 300px / 340px */
    position: relative;
    margin: 0 auto;
    margin-bottom: 5.88235294117647%; /* 20px / 340px */
    input[type=text]{
      width: 93.83333333333333%; /* 281.5px  / 300px */
      height: 45px;
      margin-bottom: 5.88235294117647%; /* 20px / 340px */
      border:{
        top: 2px solid #d5d6db;
        left: 1px solid #d5d6db;
        right: 1px solid #d5d6db;
        bottom: 1px solid #d5d6db;
      };  
      padding:{
        left: 2.64705882352941%; /* 9px / 340px */
        right: 2.64705882352941%; /* 9px / 340px */
      };
      font:{
        size: 1.5em; /* 15px */
        weight: 700;
      };
      color: #626466;
    }
    input[type=submit]{
      background: #008ad1;
      border: none;
      width: 100%; /* 300px */
      height: 40px;
      line-height: 40px;
      text-align: center;
      text-transform: uppercase;
      font:{
        size: 1.5em; /* 15px */
        weight: 500;
      };
      color: #fff;
      -moz-border-radius: 75px;
      -webkit-border-radius: 75px;
      border-radius: 75px;
      cursor: pointer;
    }
    ::-webkit-input-placeholder {color: #626466;}
    :-moz-placeholder {color: #626466;}
    ::-moz-placeholder {color: #626466;}
    :-ms-input-placeholder {color: #626466;}
  }
}


#modal-consulta{
  width: 55.93220338983051%; /* 660px / 1180px */
  overflow: hidden;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  h1.modal{
    position: relative;
    text-transform: uppercase;
    background: #008ad1;
    display: block;
    width: 96.96969696969697%; /* 640px - 20px / 640px / 660px */
    height: 70px;
    line-height: 70px;
    padding-left: 3.03030303030303%; /* 20px / 660px */
    font:{
      size: 2.6em; /* 26px */
      weight: 500;
    };
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-bottom-right-radius: 0;
    -moz-border-bottom-left-radius: 0;
    -o-border-bottom-right-radius: 0;
    -o-border-bottom-left-radius: 0;
    -ms-border-bottom-right-radius: 0;
    -ms-border-bottom-left-radius: 0;
    span.close{
      background: url(../img/close.png) center center no-repeat;
      display: block;
      width: 3.93939393939394%; /* 26px / 660px */
      height: 26px;
      position: absolute;
      right: 20px;
      top: 20px;
      a{
        display: block;
        width: 100%; /* 26px */
        height: 26px;
        text-indent: -9999px;
      }
    }
  }
  p.text-cons{
    display: block;
    width: 93.18181818181818%; /* 615px / 660px */
    margin: 0 auto;
    line-height: 22px;
    margin-top: 3.03030303030303%; /* 20px / 660px */
    margin-bottom: 3.78787878787879%; /* 25px / 660px */
    color: #666666;
    font:{
      size: 1.5em; /* 15px */
      weight: 400;
    };
  }
  form.consulta{
    width: 100%; /* 615px / 660px */
    float: left;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    margin-bottom: 3.2520325203252%; /* 20px / 615px */
    input[type=text]{
      width: 41.95121951219512%; /* 258px  / 615px */
      height: 45px;
      float: left;
      clear: none;
      margin-bottom: 3.2520325203252%; /* 20px / 615px */
      margin-left: 3.2520325203252%; /* 20px / 615px */
      border:{
        top: 2px solid #d5d6db;
        left: 1px solid #d5d6db;
        right: 1px solid #d5d6db;
        bottom: 1px solid #d5d6db;
      };  
      padding:{
        left: 1.46341463414634%; /* 9px / 615px */
        right: 1.46341463414634%; /* 9px / 615px */
      };
      font:{
        size: 1.5em; /* 15px */
        weight: 700;
      };
      color: #626466;
    }
    input[type=submit]{
      background: #008ad1;
      border: none;
      width: 93.18181818181818%; /* 615px / 660px  */
      height: 40px;
      line-height: 40px;
      text-align: center;
      text-transform: uppercase;
	  margin-left: 20px;
      font:{
        size: 1.5em; /* 15px */
        weight: 500;
      };
      color: #fff;
      -moz-border-radius: 75px;
      -webkit-border-radius: 75px;
      border-radius: 75px;
      cursor: pointer;
    }
    select{
      width: 45.52845528455285%; /* 258px  / 615px */
      height: 45px;
      float: left;
      clear: none;
      margin-bottom: 3.2520325203252%; /* 20px / 615px */
      margin-left: 2.92682926829268%; /* 18px / 615px */
      border:{
        top: 2px solid #d5d6db;
        left: 1px solid #d5d6db;
        right: 1px solid #d5d6db;
        bottom: 1px solid #d5d6db;
      };
      font:{
        size: 1.5em; /* 15px */
        weight: 700;
      };
      color: #626466;
    }
  }
}
/*=====================================
  FIM CONTENT
=======================================*/

/*=====================================
    FOOTER
=======================================*/


.center-blue{
  background: url(../img/bg-center-blue.jpg) center center no-repeat;
  width: 1180px; /* 1180px  */
  height: 250px;
  margin: 0 auto;
  padding:{
    left: 70px; /* 70px / 1180px */
    right: 20px; /* 20px / 1180px */
  };
  position: relative;
  overflow: hidden;
}

h5#logo-footer{
  display: block;
  width: 8.05084745762712%; /* 95px / 1180px */
  height: 49px;
  background: url(../img/logo-footer.png) center center no-repeat;
  float: left;
  margin-top: 1.69491525423729%; /* 20px / 1180px */
  a{
    display: block;
    width: 100%; /* 92px */
    height: 49px;
    text-indent: -9999px;
  }
}

ul.menu-bottom{
  width: 46.46464646464646%; /* 460px / 1180px */
  height: 20px;
  float: left;
  margin:{
    top: 3.8135593220339%; /* 45px / 1180px */
    left: 2.54237288135593%; /* 30px / 1180px */
  };
  li{
    display: block;
    height: 20px;
    float: left;
    margin-left: 4.34782608695652%; /* 20px / 460px */
    a{
      display: block;
      width: 100%; /* 102px */
      height: 20px;
      text-align: center;
      line-height: 20px;
      font:{
        size: 1.5em; /* 15px */
        weight: 500;
      };
      color: #fff;
    }
  }
  li:first-child{
    margin-left: 0;
  }
}

.box-atendimento-bottom{
  width: 100%; /* 990px */
  overflow: hidden;
  position: relative;
  float: left;
  clear: both;
  margin-top: 2.79661016949153%; /* 33px / 1180px */
  margin-bottom: 3.38983050847458%; /* 40px / 1180px */
}

ul.number-bottom{
  width: 36.03603603603604%; /* 400px / 1110px */
  height: 20px;
  float: left;
  margin:{
    left: 0.9009009009009%; /* 10px / 1110px */
    top: 1.35135135135135%; /* 15px / 1110px */
  };
  li{
    display: block;
    float: left;
    width: 22%; /* 88px / 400px */
    height: 20px;
    background: url(../img/icon/detalhe-number-bottom.png) center right no-repeat;
    margin-left: 1.25%; /* 5px / 400px */
    a{
      display: block;
      width: 100%; /* 88px */
      height: 20px;
      color: #fff;
      line-height: 20px;
      font:{
        size: 1.5em; /* 15px */
        weight: 400;
      };
    }
  }
  li:first-child{
    width: 27.5%; /* 110px / 400px */
    margin-left: 0;
  }
  li:last-child{
    background: none;
  }
}

span.tell-bottom{
  display: block;
  background: url(../img/icon/tell-bottom.png) center center no-repeat;
  width: 2.64550264550265%; /* 30px / 1134px */
  height: 30px;
  float: left;
  margin:{
    top: 0.84745762711864%; /* 10px / 1180px */
    left: 0.84745762711864%; /* 10px / 1180px */
    bottom: 0.84745762711864%; /* 10px / 1180px */
  };
  text-indent: -9999px;
}

span.email-bottom{
  display: block;
  background: url(../img/icon/email-bottom.png) left center no-repeat;
  width: 24.69135802469136%; /* 280px / 1134px */
  height: 30px;
  float: left;
  text-align: right;
  a{
    display: block;
    width: 100%; /* 280px */
    height: 30px;
    text-align: right;
    line-height: 30px;
    color: #fff;
    font:{
      size: 1.5em; /* 15px */
      weight: 400;
    };
  }
  margin:{
    top: 0.84745762711864%; /* 10px / 1180px */
  };
}

ul.end{
  width: 100%; /* 1134px */
  height: 20px;
  position: relative;
  float: left;
  li{
    display: block;
    float: left;
    height: 15px;
    margin-left: 0.52910052910053%; /* 6px / 1134px */
    background: url(../img/icon/detalhe-number-bottom.png) center right no-repeat !important;
    font:{
      size: 1.5em; /* 15px */
      weight: 400;
    };
    color: #fff;
  }
  li:first-child{
    width: 39.68253968253968%; /* 450px / 1134px */
    margin-left: 0;
  }
  li:last-child{
    background: none;
  }
}

.maps{
  width: 100%; /* 1180px */
  height: 300px;
}

.sobrepor-bottom{
  margin-bottom: -30px;
}

.detalhe-footer{
  width: 100%; /* 1180px */
  height: 30px;
  margin: 0 auto;
  background: url(../img/bg-span-footer.jpg) center center no-repeat;
  text-indent: -9999px;
}

.alertify-cover{
  background: #000;
  opacity: 0.8;
}

.alertify-message{
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 20px;
}

.loading-wrapper{
  background: url(../img/bg-loading-wrapper.png);
  color:  #fff;
  font-family:  Arial;
  font-size:  14px;
  height:  100%;
  left:  0;
  position:  absolute;
  text-align:  center;
  top:  0;
  width:  100%;
  z-index:  999;
  display: none;
}

.loading-content{
  width: 212px;
  height: 100px;
  position: fixed;
  left: 50%;
  margin-left: -111px;
  top: 50%;
  margin-top: -50px;
}

.clearfix:after{
  content: '';
  display: block;
  clear: both;
}
/*=====================================
  FIM FOOTER
=======================================*/