/* Paisagem */
@media only screen and (max-width:568px) {
	
}
	

/* Retrato */
@media only screen and (max-width:320px){

  .sobrepor-top{
    margin-top: 0;
  }

  header{
    display: none;
  }

	.center{
  	width: 300px; /* +20padding / 100% */
  	position: relative;
  	padding:{
    	left: 3.125%; /* 10px / 320px */
    	right: 3.125%; /* 10px / 320px */
  	};
  	margin: 0 auto;
  	overflow: hidden;
	}

  h1#logo{
    display: block;
    float: left;
    background: url(../img/logo.png) center center no-repeat;
    width: 36.666666666667%; /* 110px / 300px */
    height: 60px;
    margin-top: 3.333333333333%; /* 10px / 300px */
    a{
      display: block;
      width: 100%; /* 110px */
      height: 60px;
      text-indent: -9999px;
    }
  }

  a.consulta{
  width: 48.333333333333%; /* 145px / 300px */
  height: 40px;
  float: right;
  display: block;
  text-align: center;
  line-height: 40px;
  margin:{
    top: 5.93220338983051%; /* 70px / 300px */
    right: 0.84745762711864%; /* 10px / 300px */
  };
  background: #00b700;
  font:{
    size: 1.3em; /* 13px */
    weight: 500;
  };
  color: #fff;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border-radius: 75px;
}

a.ligamos{
  width: 48.333333333333%; /* 145px / 300px */
  height: 40px;
  float: right;
  display: block;
  text-align: center;
  line-height: 40px;
  margin:{
    top: 5.93220338983051%; /* 70px / 300px */
  };
  background: #008ad1;
  font:{
    size: 1.3em; /* 13px */
    weight: 500;
  };
  color: #fff;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border-radius: 75px;
}

  ul.menu{display: none;}

  ul.bxslider{
  height: 150px;
  li{
    height: 150px;
  }
}

  ul.servico{
    width: 100%; /* 300x */
    position: relative;
    overflow: hidden;
    margin-top: 3.333333333333%; /* 10px / 300px */
    li{
      display: block;
      width: 48.333333333333%; /* 145px / 300px */
      height: 90px;
      float: left;
      position: relative;
      margin:{
        left: 3.333333333333%; /* 10px / 300px */
        bottom: 3.333333333333%; /* 10px / 300px */
      };
      a{
        display: block;
        width: 100%; /* 145px */
        height: 220px;
      }
    }
    li:first-child{
      margin-left: 0;
    }
    li:nth-child(3){
      margin-left: 0;
    }
    li:nth-child(4){
      margin:{
        left: 3.333333333333%; /* 10px / 300px */
        bottom: 3.333333333333%; /* 10px / 300px */
      };
    }
    li:nth-child(5){
      margin-left: 0;
    }
    li:nth-child(6){
      margin:{
        left: 3.333333333333%; /* 10px / 300px */
        bottom: 3.333333333333%; /* 10px / 300px */
      };
    }
  }

  .effect{
    width: 100%; /* 145px */
    height: 90px;
    background: #000;
    opacity: 0.35;
    position: relative;
  }

  span.title-servico{
    display: block;
    width: 84.21052631578947%; /* 115px / 145px */
    overflow: hidden;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: url(../img/bg-title-servico.jpg) top left no-repeat;
    text-align: left;
    font:{
      size: 1.5em; /* 15px */
      weight: 500;
    };
    color: #fff
  }

  ul.blog{
    width: 100%; /* 300px */
    position: relative;
    overflow: hidden;
    margin:{
      top: 3.333333333333%; /* 10px / 300px */
    };
    li{
      display: block;
      width: 48.333333333333%; /* 145px / 300px */
      overflow: hidden;
      position: relative;
      float: left;
      margin-left: 3.333333333333%; /* 10px / 300px */
      margin-bottom: 3.333333333333%; /* 10px / 300px */
      a{
        display: block;
        width: 100%; /* 145px */
        overflow: hidden;
        .thumb{
          width: 100%; /* 145px */
          height: 160px;
          margin-bottom: 6.896551724138%; /* 10px / 145px */
        }
        .title-post{
          display: none;
        }
        .descritivo{
          width: 100%; /* 145px */
          overflow: hidden;
          p{
            text-align: left;
            line-height: 22px;
            font:{
              size: 1.5em; /* 15px */
              weight: 400;
            };
            color: #666666;
            strong{
              color: #00b9f6;
            }
          }
        }
        span.tag{
          display: block;
          float: left;
          padding: 3.448275862069%; /* 5px / 145px */
          background: #00b700;
          color: #fff;
          text-transform: uppercase;
          margin-top: 13.793103448276%; /* 20px / 145px */
          font:{
            size: 1.0em; /* 0px */
            weight: 500;
          };
        }
        span.date{
          display: none;
        }
      }
    }
    li:first-child{
      margin-left: 0;
    }
    li:nth-child(3){
      margin-left: 0;
    }
    li:nth-child(4){
      margin:{
        left: 3.333333333333%; /* 10px / 300px */
        bottom: 3.333333333333%; /* 10px / 300px */
      };
    }
  }

  .planos{
    display: none;
  }
  h4{
    display: none;
  }

  .center-buttons{
  width: 100%; /* 300px */
  height: 40px;
  position: relative;
  margin:{
    top: 1.01694915254237%; /* 12px / 300px */
    bottom: 1.69491525423729%; /* 20px / 300px */
    };
  .ligamos{
    width: 48.333333333333%; /* 145px / 300px */
    margin-top: 0;
  }
  .consulta{
    width: 48.333333333333%; /* 145px / 300px */
    margin-right: 3.333333333333%; /* 10px / 300px */
    margin-top: 0;
  }
}

  .maps{
    display: none;
  }



}